/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* -------------------- */

/* googleFont */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* layout */
.red-f{color:#aa0601;}
.black-f{color:#000000;}
.pink-f{color:#fbf2f2;}
.white-f{color:#FFFFFF;}
.ffeg{font-family: "Roboto", sans-serif;}
.fftw{font-family: "Noto Sans TC", sans-serif;}

.container a{
    text-decoration-line:none
}
img {
    max-width: 100%;
    height: auto;
  }
/* border看範圍隔線 */
.b{border: 1px solid black;}

*, *::after, *::before {
    box-sizing: border-box;
}

/* flex  */
.d-flex{display: flex;}
.jc-c{justify-content:center}
.jc-sb{justify-content:space-between}
.ai-fe{align-items: flex-end;}
.fd-c{flex-direction: column;}
.ai-c{align-items: center;}
.fw-w{flex-wrap: wrap;}

/* container */
.container{
    max-width: 1920px;
    margin: 0 auto;
}

.header{
    background-color:#AA0601;
}

.column{
    margin: 0 auto;
    align-items: center;
    width: 1296px;
    flex-wrap: wrap;
    
}

.nav a{
    color:#FFFFFF;
    line-height: 30px;
    font-size: 20px;
    font-family: "Noto Sans TC", sans-serif;
    padding-right: 32px;
    padding-left: 32px;
    /* border: 1px yellow solid;w */
    
}

.nav{
    padding-top: 25px;
    padding-bottom: 25px;
}
.nav{
    /* border: 1px yellow solid; */
}
.nav ul{
    flex-wrap: wrap;
    
}
.nav-row{
    
}


/* header針對螢幕寬度小於等於 576px 的裝置 */
@media (max-width: 576px) {
    .header{
        
    }
    .column{
        width: 100%;

    }
    .nav ul{
        height: 96px;
    }

    .nav li{
        width:50% ;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: #FFFFFF 1px solid;
    }

    .nav a{
        font-size: 16px;
    }
    .logoIcon img{
        margin-top: 16px;
        margin-left: 15px;
    }
    .nav{
        margin-bottom: -25px;
        padding-top: 15.43px;
    }

}

/* firstPage>banner */


.banner-bg{
    background-image: url(img/home-header.png);
    background-repeat: no-repeat;
    max-width: 100%;
    height: auto;
    background-position: center;
    background-size: cover;
}

.h3{
    font-size: 36px;
    line-height: 54px;
    color: #650300;
}
.h2{
    font-size: 64px;
    line-height: 96px;
    color:#650300;
    font-weight: bold;
}

.banner-column{
    padding-top: 296px;
    padding-bottom: 341px;
    flex-direction: column;
    width: 82%;
}

.banner-btn{
    background-color: #AA0601;
    padding-top: 6px;
    padding-bottom: 6px;
}
.banner-btn a{
    font-size: 20px;
    line-height: 30px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 12px;
    padding-left: 12px;
}


/* header>banner針對螢幕寬度小於等於 576px 的裝置 */
@media (max-width: 576px){
    .banner-bg{
        background-image: url(img/home-header-sm.png);
    }
    .banner-column{
        padding-top: 144px;
        padding-bottom: 192px;
        width: 95%;
    }

    .h3{
        font-size: 12px;
        line-height: 24px;
    }
    .h2{
        font-size: 24px;
        line-height: 36px;
    }
    .banner-btn{
        margin-top: 8px;
    }
}

/* header>projectIdea */

.projectIdea-bg{
    background-color: #FBF2F2;

}

.h4{
    font-size: 48px;
    line-height: 72px;
    font-weight: bold;
    color: #650300;
}

.h5{
    font-size: 24px;
    line-height: 36px;
    font-weight: bold;
    color:#650300;
    padding-bottom: 8px;
}

.projectText{
    font-size: 16px;
    line-height: 24px;
}
.project-column{
    padding-top: 80px;
    padding-bottom: 80px;
}
.projectList{
    width: 16.66%;
    padding: 20px;
}
.projectSection ul{
     margin: 0 auto;
}
.projectList img{
    width: 83px;
    padding-bottom: 24px;
}

/* header>projectIdea針對螢幕寬度小於等於 576px 的裝置 */
@media (max-width: 576px){
    .projectSection ul{
        flex-wrap: wrap;
    }
    .projectList{
        width: 100%;
    }
    .projectList img{
        width: 83px;
        margin-bottom: 10px;
    }
    .projectIdea .h4{
        font-size: 24px;
        line-height: 36px;
    }
    .projectIdea .h5{
        margin-bottom: 5px;
    }
    .projectIdea{
        padding-top: 40px;
    }
    .project-column{
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.projectStyle-bg{
    background-color: #FFFFFF;
}
.styleName{
    color:#AA0601;
    font-style:italic;
    font-weight:900;
    font-size: 48px;
    line-height: 72px;
    padding-top: 8px;
    text-align: center;
    text-transform: uppercase;
    
}
.projectStyle-column li{
    padding-right: 12px;
    padding-left: 12px;
}
.projectStyle{
    max-width: 100%;
}
.projectStyle .h4{
    padding-bottom: 40px;
    text-align: center;
}
.projectStyle-column{
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom:80px;
}
.projectStyle img{
    width: 416px;
}

/* header>projectStyle針對螢幕寬度小於等於 576px 的裝置 */
@media (max-width: 576px){
    .projectStyle ul{
        flex-wrap: wrap;
    }
    .projectStyle li{
        padding-bottom: 20px;
    }
    .projectStyle .h4{
        font-size: 24px;
        line-height: 36px;
        padding-bottom: 30px;
    }
    .projectStyle-column{
        padding-top: 40px;
    }
}

.projectDesign-bg{
    background-image: url(Img/index-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.projectDesign-company img{
    width: 648px;
    box-sizing: border-box;
}

.projectDesign-company .h5{
    text-align: center;
    color:#AA0601;
    font-style:italic;
    font-weight:900;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
    background-color: #FFFFFF;

}

.project-column .h4{
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 48px;
}

/* header>projectDesign針對螢幕寬度小於等於 576px 的裝置 */
@media (max-width: 576px){
    .projectDesign-company ul{
        flex-wrap: wrap;
        padding-right: 14px;
        padding-left: 14px;
    }
    .projectDesign-company li{
        margin-top: 24px;
    }
    .project-column .h4{
        padding-bottom: 0px;
        font-size: 24px;
        line-height: 36px;
    }
    .projectDesign-bg{
        background-image: url(Img/index-bg-sm.png);
        width: 100%;
    }
    .project-column{
        padding-top: 40px;
        padding-bottom: 40px;
    }
}
.projectCommand-bg{
    background-color: #FFFFFF;
}
.projectCommand-List ul{
    max-width: 100%;
}
.projectCommand-List{
    margin-right: -12px;
    margin-left: -12px;
}

.projectCommand-List img{
    width: 306px;
    box-sizing: border-box;
}

/* .shadow{
    box-shadow:#00000029 0px 2px 6px;
} */

.projectCommand-List li{
    box-shadow:#00000029 0px 2px 6px;
    margin-right: 12px;
    margin-left: 12px;
    width: 306px;
}

.projectCommand-Title{
    text-align: center;
    padding-bottom: 48px;
}

.projectCommand-List p{
    font-size: 16px;
    line-height: 24px;
}

.listDate{
    font-size: 14px;
    line-height: 21px;
    color:#707070;
    padding-top: 72px;
}

.listTitle{
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    padding-bottom: 8px;
}
.projectCommand-column{
    padding-top: 80px;
    padding-bottom: 80px;
}

.projectUl-content{
    padding: 16px;
}

/* header>projectCommand針對螢幕寬度小於等於 576px 的裝置 */
@media (max-width: 576px){
    .projectCommand-List ul{
        flex-wrap: wrap;
        width: 360px;
    }
    .projectCommand-List li{
        width: 100%;
        margin: 0 auto;
        margin-bottom: 16px;
    }
    .projectCommand-List img{
        width: 360px;
    }
    
}